{{>nav}}

<main class="m-4 relative h-max bg-red-500">
	<span class="block">
		<strong>Full Name: </strong> {{sessionFullName}}
	</span>

	<span class="block">
		<strong>Address: </strong> {{sessionAddress}}
	</span>

	<span class="block">
		<strong>Age: </strong> {{sessionAge}}
	</span>

	<span class="block">
		<strong>PhoneNumber: </strong> {{sessionPhoneNumber}}
	</span>
	<span>
		<img src="images/{{sessionImage}}" alt="">
	</span>
</main>


